body {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
}

.grid {
    margin-top: 100px;
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid black;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: red;

    /* left: 5opx;
    bottom: 50px; */
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: brown;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: yellow;
}